.form-guest {
    width: 100%;
    max-width: 356px;
    background: var(--color-primary-on);
    color: var(--color-primary-text-on);
    border-radius: 14px;
    margin-top: 28.5px;
    margin-bottom: 20.5px;
    position: relative;
    z-index: 2;
}

.ball-bottom-left {
    width: 100%;
    height: 28.5px;
}

.ball-top-right {
    width: 100%;
    height: 39.5px;
}

.ball-bottom-left::after,
.ball-top-right::after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 50px;
    background: var(--color-tertiary);
}

.ball-top-right::after {
    width: 57px;
    height: 57px;
    top: -28.5px;
    right: -28.5px;
}

.ball-bottom-left::after {
    width: 41px;
    height: 41px;
    bottom: -20.5px;
    left: -20.5px;
}

.logo {
    display: flex;
}

.logo > img {
    margin: auto;
    width: 143px;
}


@media screen and (max-width: 540px) {
    .form-guest {
        max-width: 100%;
        display: flex;
        width: 100%;
        min-height: 100vh;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 0px;
        border-radius: 0px;
    }

    .ball-top-right::after {
        top: 10px;
        right: 10px;
    }

    .ball-bottom-left::after {
        left: 10px;
        bottom: 10px;
    }
}