@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --color-primary: #2F2855;
    --color-primary-on: #F8FEFC;
    --color-primary-background: #D9D9D9;
    --color-primary-text: #FFFFFF;
    --color-primary-text-on: #202020;
    --color-secondary: #2477AB;
    --color-secondary-background: #181528;
    --color-secondary-active: #24BBF0;
    --color-tertiary: #3F3864;
    --color-tertiary-on: #D9D9D926;
    --width-sm: 540px;
    --width-md: 720px;
    --width-lg: 960px;
    --width-xl: 1140px;
    --width-xx: 1320px;
    --border-radius: 10px;
    --font-family: 'Poppins', sans-serif;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-primary: #181528;
        --color-primary-on: #F8FEFC;
        --color-primary-background: #D9D9D9;
        --color-primary-text: #FFFFFF;
        --color-primary-text-on: #202020;
        --color-secondary: #2477AB;
        --color-secondary-background: #181528;
        --color-secondary-active: #24BBF0;
        --color-tertiary: #3F3864;
        --color-tertiary-on: #D9D9D926;
    }
}

html, body, main {
    width: 100%;
    min-height: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background: var(--color-secondary-background);
    color: var(--color-primary-text);
}

main {
    margin: initial;
}


* {
    font-family: var(--font-family);
    font-size: 15px;
}

a {
    color: var(--color-secondary-active);
}

a:hover {
    color: var(--color-secondary);
}

.text-center {
    text-align: center;
}