.container { 
    background-image: url(../../../public/assets/img/background-login.svg);
    background-size: cover;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

